.dark, .simple-cms-content.dark{

    blockquote{
        @apply
        bg-primary/70;
    }
}


.simple-cms-content{
    @apply
    flex
    flex-col
    gap-3;

    @apply
    md:gap-5;

    h2, h3{
        @apply
        font-title
        font-light
    }

    h2{
        @apply
        text-2xl 
        lg:text-3xl;
    }

    h3{
        @apply
        text-xl
        lg:text-2xl;
    }

    a{
        @apply
        underline-offset-2
        underline
        text-primary
        hover:text-current;
    }

    ul{ 
        @apply
        flex
        flex-col
        gap-2 
        list-inside
        list-disc;
    }

    strong{
        @apply
        font-bold;
    }

    blockquote{
        @apply
        italic
        border-l-4
        p-5
        bg-primary/20
        border-primary
        rounded-r-lg;
    }

}